<link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Danh Mục /</span> Danh Sách
        </h4>
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Product_wrapper" class="dataTables_wrapper dt-bootstrap5">
                    <div class="row ms-2 me-3">
                        <div
                            class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-2">
                            <div
                                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                                <div class="dt-buttons">
                                    <button type="button" class="create-new btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                        <i class="bx bx-plus me-sm-2"></i>Thêm Danh Mục Mới
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-md-6 d-flex align-items-center justify-content-end flex-column flex-md-row pe-3 gap-md-2">
                            <div class="dataTables_filter">
                                <input onkeyup="findCate(this)" type="search" class="form-control" placeholder="Tìm kiếm...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="datatables-basic table border-top dataTable no-footer dtr-column" id="listcategory"
                role="grid" aria-describedby="DataTables_Product_info" style="width: 1209px;">
                <thead>
                    <tr role="row">
                        <th style="width: 25%">#</th>
                        <th style="width: 25%;">Ngày</th>
                        <th style="width: 25%;">Tình trạng</th>
                        <th style="width: 25%;">Tổng</th>
                    </tr>
                </thead>
                <tbody id="list">
                    <% order.info.forEach(function(order){ %>
                        <tr>
                            <td><a href="/admin/order/edit/<%= order._id %>">#<%= order._id %></a></td>
                            <td><%= order.createdAt %></td>
                            <td><%= order.Status %></td>
                            <td><%= order.Total %>đ</td>
                        </tr>
                    <% }) %>
                    
                        
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    function findCate(ele){
        var str = $(ele).val();
        $('#list tr').filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(str.toLowerCase()) > -1);
        })
    }
</script>