<style>
    .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  margin: 0px;
  padding: 0 5px;
  transition: all 200ms;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -105%, 0);
  color: #000;
  background: #fff;
}
</style>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh Toán</h1>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block billing-details">
                        <h4 class="widget-title">Thông tin người nhận đơn hàng</h4>
                        <form class="checkout-form" action="/checkout" id="checkout" method="post">
                            <div class="row">
                                <div class="col-lg-12 form-group">
                                    <input value="<%= user.Name %>" type="text" class="form-control" required id="name" name="name" placeholder="">
                                    <label class="form-control-placeholder" for="name">Họ tên</label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input value="<%= user.Address %>" type="text" class="form-control" required name="address" placeholder="">
                                    <label class="form-control-placeholder" for="user_address">Địa chỉ nhận hàng</label>
                                </div>
                                <!-- <div class="row"> -->
                                    <div class="col-lg-6 col-sm-12 form-group">
                                        <input value="<%= user.Phone %>" type="text" class="form-control" required name="numberphone"
                                        value="">
                                        <label class="form-control-placeholder" for="numberphone">Số điện thoại</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 form-group">
                                        <input value="<%= user.Email %>" type="email" class="form-control" required name="email"
                                        name="city" value="">
                                        <label class="form-control-placeholder" for="email">Email</label>
                                    </div>
                                <!-- </div> -->
                                <div class="col-lg-12 form-group">
                                    <select class="form-control" name="paymentmethods" id="payment-methods">
                                        <option value="Tiền mặt">Thanh toán tiền mặt</option>
                                        <option value="Momo">Thanh toán momo</option>
                                    </select>
                                    <label class="form-control-placeholder" for="payment-methods">Phương thức thanh toán</label>
                                </div>
                            </div>
                            
                            
                            
                            
                            <div id="payMomo" class="row hidden">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>BƯỚC 1: QUÉT MÃ THANH TOÁN MOMO</p>
                                            <div class="text-center mb-3" id="qrcode"></div>
                                            <p>BƯỚC 2: NHẬP NỘI DUNG CHUYỂN KHOẢN NHƯ SAU:</p>
                                            <h4 class="text-danger fw-bolder text-center mb-3">LEVENTS <%= user.UserName %> </h4>
                            
                                            <h5 class="text-warning">LƯU Ý</h5>
                                            <ul>
                                                <li>Chúng tôi sẽ kiểm tra bạn đã chuyển khoản hay chưa để giao hàng đến bạn.</li>
                                                <li>Nếu nhập sai nội dung hoặc thiếu. Hãy truy cập <a href="/pages/contact" class="text-danger">Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <button type="submit" class="button dark mt-20">Thanh toán</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Giỏ hàng</h4>
                            <% let sum=0; products.forEach(function(pro, i){ %>
                                <div class="media product-card">
                                    <a class="pull-left" href="/products/<%= pro.Product_slug %>">
                                        <img class="media-object" src="<%= process.env.DOMAIN_SERVER %>/uploads/<%= pro.Product_image[0] %>" alt="Image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="product-single.html">
                                                <%= pro.Product_name %>
                                            </a>
                                        </h4>
                                        <p class="">
                                            Size:
                                            <%= cart.Inventory[i].Size %>
                                        </p>
                                        <p class="">
                                            <%= cart.Inventory[i].Quantity %> x <%= Intl.NumberFormat().format(pro.Price) %>₫
                                        </p>
                                    </div>
                                </div>
                                <% sum +=cart.Inventory[i].Quantity * pro.Price })%>

                                <div class="summary-prices">
                                </div>
                                <div class="summary-total">
                                    <span>Tổng tiền:</span>
                                    <span>
                                        <%= Intl.NumberFormat().format(sum) %>₫
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>

<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/js/easyqrcode.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const qrCode = new QRCodeStyling({
        width: 300,
        height: 300,
        type: "png",
        data: "2|99|0787837485|DANG THE VINH|dangthevinh12@gmail.com|0|0|<%=sum%>",
        image: "https://business.momo.vn/assets/landingpage/img/931b119cf710fb54746d5be0e258ac89-logo-momo.png",
    });

    qrCode.append(document.getElementById("qrcode"));



    var options = {
        text: `2|99|0787837485|DANG THE VINH|dangthevinh12@gmail.com|0|0|<%=sum%>`
	};
	
	// Create QRCode Object
	// new QRCode(document.getElementById("qrcode"), options);

    $('#checkout input:required').each(function() {
    if ($(this).val() === '')
        alert('error please fill all fields!');
    });
    $('#payment-methods').change(()=>{
        if($('#payment-methods').val() == 'Momo'){
            $('#payMomo').removeClass('hidden');
        } else {
            $('#payMomo').addClass('hidden');
        }
    })
</script>